<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>On The Shelf</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  {{! body of viewport }}
  <body>
    <header>
      {{! start of nav }}
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/views/layouts/main.handlebars">
            {{! "home" button link that returns to main log in page }}
            <img
              id="home"
              src="/Images/otsheader.png"
              width="112"
              height="28"
            />
          </a>
        </div>
        <div>
          <button id="logout" class="button">Logout</button>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <strong id="tagline">Let's Play</strong>
          </div>
        </div>
      </nav>
      {{! end of nav }}
    </header>
    {{! where the "partials" are going to show up for the modularity of the site }}
    <main>
      {{{body}}}
    </main>
    {{! footer where contact is found and potential future site mapping options }}
    <footer class="footer">
      <div class="content has-text-centered">
        <a href="mailto:dajalimavi@gmail.com">Contact</a>
      </div>
    </footer>

  </body>

</html>

<script src="./js/logout.js"></script>