<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-one-third">
          <h1 class="title">Login</h1>
          <div class="box">
            <form id="login-form">
              <div class="field">
                <label class="label">Username</label>
                <div class="control">
                  <input
                    id="submit-username"
                    class="input"
                    type="text"
                    placeholder="Enter your username"
                  />
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input
                    id="submit-password"
                    class="input"
                    type="password"
                    placeholder="Enter your password"
                  />
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button type="submit" class="button is-primary">Login</button>
                </div>
                {{! cool new feature coming soon }}
                {{! <div class="control">
                    <button class="button is-text">Forgot Password?</button>
                  </div> }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--space between sections-->
  <section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-centered">
        <div class="column is-one-third">
        <h1 class="title">Signup</h1>
        <div class="box">
          <form id="signup-form">
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input
                  id="create-username"
                  class="input"
                  type="text"
                  placeholder="Enter your name"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input
                  id="#create-email"
                  class="input"
                  type="email"
                  placeholder="Enter your email"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input
                  id="create-password"
                  class="input"
                  type="password"
                  placeholder="Enter your password"
                />
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-primary">Signup</button>
              </div>
              <div class="control">
                <button class="button is-text">Cancel</button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- </section> --}}
</section>

<script src="./js/login.js"></script>